<main class="view-home">
  <div [mnFullpage]="options">
    <div class="section intro-section fp-section fp-table">
      <div class="fp-tableCell">

        <div class="wrapper s1" >
          <video autoplay>
            <source data-src="../../../assets/video/Logo_Eclaire_Linea_4.mp4" type="video/mp4" />
          </video>

        </div>

      </div>
    </div>
    <div class="section cover-section fp-section fp-table">
      <div class="fp-tableCell">
        <div class="wrapper s2">
            <h1>Section 2</h1>
        </div>
      </div>
    </div>
    <div class="section footer-section fp-section fp-table fp-auto-height">
      <div class="fp-tableCell">
        <ec-section-footer></ec-section-footer>
      </div>
    </div>
  </div>
</main>
