/*  
    ------------------------------------------------------------
    Hoja de Estilos Principales para Proyecto ng-app-Eclaire
    Autor : Jorge Luis Mayorga Taborda
    Email : wallamejorge@hotmail.com
    ------------------------------------------------------------
*/
*{margin:0px;
    padding:0px;
z-index: 0;}
@font-face {
    font-family:'Brandon-Bold';
    font-style: bold;
    font-weight: 400;
    src: url('assets/font-bold.woff')
  }
@font-face {
font-family:'Brandon-Light';
font-style: normal;
font-weight: 800;
src: url('assets/font-light.woff')
}
 html,body{
    font-family: Brandon-Light;
    font-size: 16pt;
    background-color: rgb(219, 224, 226) ;
    color:rgb(61, 61, 61);
    width: 100vw;
    height: auto;
    overflow:hidden;
}
main{
    width:calc(100vw - 50pt); 
    display: block;
}
